[fips_sect]
activate = 1
conditional-errors = 1
security-checks = 1
tls1-prf-ems-check = 1
drbg-no-trunc-md = 1
module-mac = 06:6F:55:07:91:BA:E3:0B:F0:FA:04:27:7D:0A:2A:D3:0A:9C:9A:EB:3E:3D:1D:02:51:20:98:FD:40:BF:6C:65
